{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<footer class="bg-dark text-white mt-4">
    <div class="container" width="100%">
        <div class="row">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-md-1">
                        <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="50" height="30" >
                    </div>
                    <div class="col-md-5">
                        <p style="margin-left: 20px; margin-top: 20px;">HUMAN DIGNITY FOR YEMEN  2023</p>
                    </div>
                </div>
                <div class="row align-items-left">
                    <div class="col-md-4">
                        <p style="margin-left: 65px; margin-top: 5px;">Privecy Policy</p> 
                    </div>
                    <div class="col-md-2">
                        <img src="{% static 'images/cpyr.png' %}" width="15" height="15" style=" margin-top: 6px;">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-1">
                        <img src="{% static 'images/lieu.png' %}" width="20" height="20" >
                    </div>
                    <div class="col-md-5">
                        <p style="margin-left: 20px; margin-top: 10px;">31 Furnival St, London EC4A 1JQ</p>
                    </div>
                </div>
                <p style="margin-left: 65px;">London, United Kingdom</p>
                <div class="row align-items-center">
                    <div class="col-md-1">
                        <img src="{% static 'images/facebook.png' %}" width="20" height="20" style="margin-bottom: 5px";>
                    </div>
                    <div class="col-md-1">
                        <img src="{% static 'images/linkedin.png' %}" width="20" height="20" style="margin-bottom: 5px";>
                    </div>
                    <div class="col-md-1">
                        <img src="{% static 'images/twitter.png' %}" width="20" height="20" style="margin-bottom: 5px";>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p style="margin-top: 20px;">WHO WE ARE</p>
                <p style="margin-top: 50px;">Governance</p>
                <p>Team</p>
                <p>Offices</p>
            </div>
            <div class="col-md-2">
                <p style="margin-top: 20px;">WHAT WE DO</p>
                <p style="margin-top: 50px;">Victim Support</p>
                <p>Seeking Justice</p>
                <p>Indigenous Peoples</p>
            </div>
            <div class="col-md-2">
                <p style="margin-top: 20px;">OUR NETWORK</p>
                <p style="margin-top: 50px;">Members</p>
                <p>Volunteers</p>
                <p>Share your story</p>
            </div>
        </div>
    </div>
</footer>